body {
  background-color: rgb(239, 229, 229);
}
.mainContainer {
  align-items: center;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 8px;
  width: 57%;
  margin-top: 40px;
  margin-left: 250px;
  margin-right: 150px;
  background: #4db6ac;
}

h1 {
  margin-left: 40%;
}

#inp {
  width: 300px;
  height: 30px;
  background-color: #edece8;
  font-weight: 300;
  font-size: 25px;
  margin: 10px;
  border: none;
  border-radius: 5px;
}

#inpDate {
  width: 200px;
  height: 30px;
  background-color: #edece8;
  font-weight: 300;
  font-size: 25px;
  border: none;

  margin: 10px;
  border-radius: 5px;
}

#btn-1 {
  width: 65px;
  height: 30px;
  margin: 10px;
  background-color: rgb(33, 205, 33);
  font-size: 20px;
  border: 0.5px;
  border-radius: 5px;
}

.div-1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px;
}

.a {
  margin-left: 45%;
  float: inherit;
  font-size: 20px;
  height: 30px;
  width: 65pxx;
  background-color: red;
  border: 0.5px;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
}

ul {
  font-size: 25px;
  color: #263238;
  margin: auto;
  margin-left: 50pxpx;
  border-bottom: 0.5px solid;

  margin: 15px;
}

i {
  float: right;
}

.a:hover {
  width: 66;
  height: 31;
  border: 1px solid black;
}

#btn-1:hover {
  width: 66;
  height: 31;
  border: 1px solid black;
}

.text {
  border-top: 1px solid black;

  margin: 10px;
}

#inpDate:hover {
  border: 0.5px solid black;
}

#inp:hover {
  border: 0.5px solid black;
}
